---
layout: base
---

<main>
  <div class="box" data-theme="light">
    <section class="content">
      <h1 class="title text-4 mb-m">
        {{ title }}
      </h1>

      {{ content | safe }}
    </section>
  </div>
</main>
